assignment/assignment1/utils/__pycache__/*
assignment/assignment1/__pycache__/*
assignment/assignment2/utils/__pycache__/*
assignment/assignment2/__pycache__/*
assignment/assignment2/data/weights/*
assignment/assignment1/utils/datasets/*
example/.ipynb_checkpoints/*